/*------========================================= 
Start 
========================================---------*/
*
{
    padding: 0;
    margin: 0;
}
/*--===============================
Navigation bar
===================================--*/
.navbar-brand img{
    width: 50px;
    height: 35px;
  }
  .navbar{
    background: skyblue;
  }
  .nav-link,
  .navbar-brand{
    color: #fff;
    cursor: pointer;
  }
  .nav-link{
    margin-right: 1em !important;
  }
  .nav-link:hover{
    color: black;
  }
  .navbar-collapse{
    justify-content: flex-end;
  }
  /*---
  ======================================================
  Get In Touch With Us
  ==========================================================
  -------
  */
  body{
      background: #efefef;
      color: #777;
  }
  h1{
      padding-top: 30px;
  }
  .contact-form{
      padding-top: 20px;
  }
  .form-control{
      border-radius: 16px;
      border: none !important;
  }
  ::placeholder{
      color: none !important;
  }
  .follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
  }
  .contact-info .fa{
    font-weight: bold;
    margin: 8px;
    color: #007bff;
  }
  /*--
=========================================
Footer
========================================
--*/
#footer{
  padding-top: 10px;
  padding-bottom: 5px;
  background: #333;
  color: #fff;
}
p{
  font-size: 15px;
  padding-top: 5px;
}
.container{
  padding-bottom: 7px;
}
/*-----=================================== 
End 
==================================-----------*/





